.two-columns__paragraph {
 /* box-sizing: border-box;*/
  border: 3px solid rgb(32, 153, 235);
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
