.two-columns__main-text {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  /*  flex-grow: .8; */
  /*width: 80%;*/
  min-width: 784px;
  /*flex: 784px;*/

  border: 3px solid rgb(33, 223, 16);
 /* box-sizing: border-box;*/
  /*flex-shrink: 1;*/
}
