.two-columns {
  margin: auto;
  max-width: 80%;
  border: 3px solid rgb(255, 174, 0);
  display: flex;
  flex-wrap: wrap;
  /*align-content: baseline;*/
  /*box-sizing: border-box;*/
  justify-content: space-between;
}
