.resources__logo {
  width: 270px;
  height: 38px;
  border: 1px solid rgb(35, 233, 29);
  background-color: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: #000000;
  font-size: 20px;

}

.resources__logo:first-child {
  background-image: url(../../../images/logo/resources-arzamas.svg);
}

.resources__logo:nth-of-type(2) {
  background-image: url(../../../images/logo/resources-n1.svg);
}

.resources__logo:nth-of-type(3) {
  background-image: url(../../../images/logo/resources-strelka.svg);
}

.resources__logo:last-child {
  background-image: url(../../../images/logo/resources-polka.svg);
}
